{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="border col-md-4 m-3">
            <form action="{% url 'add' %}" method="post" class="m-3">
                <h2>New Post</h2>
                {% csrf_token %}
                <textarea class="form-control" rows=10 placeholder="Write something!">{% if text.value %}{{ form.text.value }}{% endif %}</textarea>
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
    {% endif %}
{% endblock %}