{% extends "network/layout.html" %}
{% load static %}

{% block head %}
    <script src="{% static 'network/profile.js' %}"></script>
    <script>
        function make_posts() {
	        load_filtered_posts("user", {{ profile.id }})
        }
    </script>

    {{ profile.id | json_script:"profile_id" }}
{% endblock %}

{% block body %}
    <div class="col text-center">
        <h1 class="mt-2">{{ profile.username }}</h1>

        <div>
            <b>Followers:</b> <p id="follower-count" class="inline">{{ followers_num }}</p> <b>Following:</b> <p id="following-count" class="inline">{{ following_num }}</p>
        </div>

        <!-- Follow button -->
        {% if request.user.id and request.user.id != profile.id %}
            <div class="mt-2">
                <button id="follow-btn" onclick="follow()" {% if not following %} class="btn btn-primary mx-auto">Follow{% else %}class="btn btn-secondary mx-auto">Unfollow{% endif %}</button>
            </div>
        {% endif %}
    </div>

    <hr>

    <div class="col">
        <ul class="pagination">
            <li class="page-item ml-auto"><button id="page-previous-btn" class="page-link" onclick="previous_page()">Previous</button></li>
            <li class="page-item mr-auto"><button id="page-next-btn" class="page-link" onclick="next_page()">Next</button></li>
        </ul>

        <ul class="list-group" id="posts"></ul>
    </div>
{% endblock %}
